<ion-view view-title="About">
  <ion-content class="padding">
    <h2>US Bridges</h2>
    <h4>Discover nearby bridges and explore key information about them with <em>U.S. Bridges</em>.</h4>
    <p>This app presents data on over 600,000 bridges &mdash; from all 50 states, Washington D.C., and Puerto Rico &mdash; included in the 2015 <a ng-click="openUrl('http://www.fhwa.dot.gov/bridge/nbi.cfm')">National Bridge Inventory (NBI)</a> produced by the <abbr title="United States Department of Transportation" class="initialism">U.S. DOT</abbr> Federal Highway Administration.</p>
    <p>This is an <a ng-click="openUrl('https://github.com/arithmetric/bridges')">open source</a> demo mobile app from <a ng-click="openUrl('http://arithmetric.com')">@arithmetric</a>. The mobile app is built with the Ionic Framework and Google Maps. The API service is built with Node.js, Restify, and MongoDB.</p>
  </ion-content>
</ion-view>
